* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'VW Head';
	src: url('./fonts/VWText-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana';
	src: url('./fonts/verdana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* cor */
	--azul: #001E50;
	--verde: #61D248;
	--cinza: #E7E7E7;
	--branco: #FFFFFF;
	--preto: #000000;

	/*fonte*/

	--vw: 'VW Head';
	--verdana: 'Verdana';

}

/* MAIN */

body{
	background-color: yellow;
}


/* ASIDE */

aside{
	width: 20%;
	height: 100vh;
	float: left;
	background-color: var(--azul);
	color: #92929D;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

aside img{
	align-self: center;
}

aside>div h2{
	font-family: var(--verdana);
	font-weight: 300;
	color: white;
}

aside>div a{
	text-decoration: none;
	font-family: var(--vw);
	font-size: 17px;
}

.aside_top{
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0 250px;
}

.link_perfil{
	background-color: #61D248;
	width: 80%;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	gap: 10px;
	color: aliceblue;
	font-family: var(--vw);

}

.link_gerenciamento{
	width: 80%;
	height: 40px;
	border-radius: 8px;
	padding: 10px 30px;
	color: lightgray;
	display: flex;
	align-items: center;
	padding-left: 15px;
	gap: 10px;
	font-family: var(--vw);

}

.link_gerenciamento img{
	width: 25px;
}

.divisoria{
	width: 100%;
	height: 1px;
	background-color: aliceblue;
	border-radius: 5px;
	margin: 30px 0 30px;
}

.rede_social{
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
}

.rede_social>div{
	display: flex;
	gap: 30px;
	margin-left: 5px;
}

.perfil{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.perfil>div{
	width: min-content;
}

.perfil a{
	text-decoration: none;
	color: white;
}

/* FIM DO ASIDE */


/* CONTEUDO */


.conteudo{
	background-color: teal;
	
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5% 0 5% 5%;
}

.conteudo img{
	width: 300px;
	align-self: self-end;
}

.perfil_principal{
	max-width: 1000px;
	width: 100%;
	max-height: 1000px;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;

}

.perfil_principal img{
	height: 150px;
	align-self: center;
}

.perfil_info{
	font-family: var(--verdana);
	width: 80%;
	height: fit-content;
	
}

.perfil_info form>div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

.perfil_info form>div>div{
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--azul);
	width: 40%;
}

.perfil_principal form{
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.perfil_principal form input{
	border-radius: 5px;
	border: 1px solid lightgray;
	width: 250px;
	height: 25px;
	padding-left: 10px;
}

.form_submit{
	flex-direction: column;
	gap: 5px;
	align-self: flex-start;
	margin-left: 30px;
}

.form_submit label{
	align-self: flex-start;
	color: var(--azul);
}

.perfil_info input.submit_button{
	color: orange;
	border: 2px solid orange;
	background-color: white;
	margin-left: 29px;
	width: 150px;
	height: 40px;
	font-family: var(--verdana);
	font-size: 16px;
	padding: 0;
}

/* FIM CONTEUDO */