* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'VW Head';
    src: url('./fonts/VWText-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('./fonts/verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #E8E9EB;
}


:root {
    /* cor */
    --azul: #001E50;
    --verde: #61D248;
    --cinza: #E7E7E7;
    --branco: #FFFFFF;
    --preto: #000000;

    /*fonte*/

    --vw: 'VW Head';
    --verdana: 'Verdana';

}

aside {
    width: 20%;
    height: 100vh;
    float: left;
    background-color: var(--azul);
    color: #92929D;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu img {
    align-self: center;
}

.menu>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu>div h2 {
    font-family: var(--verdana);
    font-weight: 300;
}

.menu>div a {
    text-decoration: none;
    font-family: var(--vw);
    font-size: 17px;
}

.link_perfil {
    background-color: #61D248;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    padding: 10px 30px;
}

.link_gerenciamento {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    padding: 10px 30px;
    color: var(--cinza);
}




.barra_pesquisa_gerenciamento_parceiro {
    display: flex;
    align-items: center;
}


.btn_enviar_parceiro {
    width: 150px;
    /* Ajuste o valor conforme necessário */
    height: 39px;
    cursor: pointer;
    background-color: var(--azul);
    color: var(--branco);
    font-family: var(--vw);
    font-size: 18px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.01em;
    border-radius: 4px;
    padding: 0 42px;
    text-decoration: none;
    border: none;
    text-align: center;
    /* Adicione esta linha */
}

.conteudo_gerenciamento_parceiro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sessao1_gerenciamento_parceiro {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cabecalho_gerenciamento_parceiro h1 {
    font-family: var(--vw);
    font-style: normal;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.cabecalho_gerenciamento_parceiro p {
    font-family: var(--vw);
    font-size: 18px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.01em;
}

.botaoAdd_gerenciamento_parceiro a {
    background-color: var(--verde);
    color: var(--branco);
    font-family: var(--vw);
    font-size: 18px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.01em;
    border-radius: 4px;
    padding: 9px 42px;
    text-decoration: none;
}



.barra_pesquisa_gerenciamento_parceiro input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgba(203, 210, 220, 0.5);
    border-radius: 4px;
    height: 36px;
}

.sessao2_gerenciamento_parceiro {
    background-color: var(--branco);
    width: 93%;
    border-radius: 4px;
    

}

/* .tabela_gerenciamento_parceiro tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
} */


.posicionamento_tabela_parceiro table{
    display: flex;
    width: 100%;
    background-color: #61D248;
}


.header_coluna{
    width: 100%;
    background-color: aqua;
    display: flex;
}

/* .tabela_gerenciamento_parceiro th,
.tabela_gerenciamento_parceiro .coluna td {
    text-align: left;
    padding: 8px;


} */


.tabela_gerenciamento_parceiro th {
    font-family: var(--vw);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;

}


.tabela_gerenciamento_parceiro .coluna {
    font-family: var(--verdana);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 30, 80, 0.75);
    line-height: 50px;


}

.tabela_gerenciamento_parceiro .coluna td a {
    border: 2px solid rgba(0, 30, 80, 0.75);
    border-radius: 4px;
    padding: 9px 42px;
    text-decoration: none;
    color: var(--azul);

}


.tabela_gerenciamento_parceiro .coluna td a:hover {
    background-color: var(--azul);
    color: var(--branco);

}

.footer_tabela_gerenciamento_parceiro {
    display: flex;
}

.btn_paginacao_tabela_gerenciamento_parceiro {
    display: flex;
}

.footer_tabela_gerenciamento_parceiro {
    background-color: #F8F9FB;
    ;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    padding: 20px;
}

.botoes_paginacao_parceiro {
    width: 10%;

}

.btn_paginacao_tabela_gerenciamento_parceiro {
    display: flex;
    justify-content: space-between;

}

.contagem_paginacao_tabela_gerenciamento_parceiro p {
    font-family: var(--verdana);
}

.btn_voltar_parceiro a,
.btn_prosseguir_parceiro a {

    background: #FFFFFF;
    border: 1px solid rgba(203, 210, 220, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 10px;

}